.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 40px;

    font-size: 50px;
    color: #fff;
}

.button {
    padding: 20px;

    font-size: 30px;
    color: #fff;
}