.button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: outset 5px;
    padding: 4px;

    font-size: 30px;

    transition: 0.2s border ease;

    background-color: #f7f7f7;

    user-select: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: 100%;

        object-fit: contain;
    }
}

.button:active{
    border:0px;

    background-color: #f7f7f7;
}